<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/simditor/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?057333a53a962b89e5f6c966e96843c5";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="jumbotron">
        <h1 style="text-align: center">梅葆瑞的博客</h1>
        <p style="text-align: center">这是一个正在开发的试验品</p>
    </div>
    <div class="container ">

        <div>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" id="nav-index"><a href="@Url.Action("Index","Home")">博文</a></li>
                <li role="presentation"><a href="#">简历</a></li>
                <li role="presentation"><a href="#">关于</a></li>
                <li role="presentation" id="nav-manage"><a href="@Url.Action("Index","Manage")">管理</a></li>
            </ul>
        </div>

        @RenderBody()
    </div>
</body>
</html>
