@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>后台管理</h2>
<a class="btn btn-primary" href="@Url.Action("BlogEditor","Home")">添加博文</a>
@section Scripts{
    <script>
        $(function () {
            $("#nav-manage").addClass("active");
        })
    </script>
}
